<h2><%= notice %></h2>
<h1 class="title"><%= @user.name %>のページ</h1>
<div><%= image_tag @user.image.url %></div>
<% if current_user.id == @user.id %>
  <td><%= link_to "プロフィールを編集する", edit_user_path(@user.id) %></td>
<% end %>
<td><%= link_to "お気に入り一覧へ", favorites_path %></td>
<td><%= link_to "投稿一覧へ", posts_path %></td>
